/AbstractFactory/nbproject/private/
/AbstractFactory/build/
/AbstractFactory/dist/
/AbstractFactoryEmSalaDivididoEmProjetos/FabricaCarroPopular/dist/
/AbstractFactoryEmSalaDivididoEmProjetos/FabricaCarroLuxo/dist/
/AbstractFactoryEmSalaDivididoEmProjetos/Main/dist/
/AbstractFactoryEmSalaDivididoEmProjetos/FabricaCarroSuperPopular/build/
/AbstractFactoryEmSalaDivididoEmProjetos/FabricaCarroSuperPopular/dist/
/AbstractFactoryEmSalaDivididoEmProjetos/FabricaCarroSuperPopular/nbproject/private/
/Trabalho INF011 Emanuel Sales/FabricaGaragemComum/nbproject/private/
/Trabalho INF011 Emanuel Sales/FabricaGaragemComum/dist/
/Trabalho INF011 Emanuel Sales/FabricaGaragemComum/build/
/Trabalho INF011 Emanuel Sales/Interfaces/nbproject/private/
/Trabalho INF011 Emanuel Sales/Interfaces/build/
/Trabalho INF011 Emanuel Sales/Console/nbproject/private/
/Trabalho INF011 Emanuel Sales/Teto/nbproject/private/
/Trabalho INF011 Emanuel Sales/Poltrona/nbproject/private/
/Trabalho INF011 Emanuel Sales/TetoSolar/nbproject/private/
/Trabalho INF011 Emanuel Sales/Retrovisor/nbproject/private/
/Trabalho INF011 Emanuel Sales/Banco/nbproject/private/
/Trabalho INF011 Emanuel Sales/Interfaces/dist/
/Trabalho INF011 Emanuel Sales/Banco/build/
/Trabalho INF011 Emanuel Sales/Banco/dist/
/Trabalho INF011 Emanuel Sales/Retrovisor/build/
/Trabalho INF011 Emanuel Sales/Retrovisor/dist/
/Trabalho INF011 Emanuel Sales/TetoSolar/build/
/Trabalho INF011 Emanuel Sales/TetoSolar/dist/
/Estudando/build/
/Strategy/build/